.speakers {
  background-color: #f7f7f7;
  padding: 60px;
  padding-top: 0;
  position: relative;

  .section-name.right {
    right: -38px;
  }

  h3 {
    margin-bottom: 40px;
  }

  .speaker {
    margin-left: 60px;
    margin-right: 60px;
  }

}
