@import '~theme/variables.scss';

.speakers {
  background-color: #f7f7f7;
  padding: 60px;
  padding-top: 0;
  padding-bottom: 35px;
  position: relative;

  .section-name.right {
    right: -38px;
  }

  h3 {
    margin-bottom: 40px;
  }

  .speaker {
    margin-bottom: 25px;
    margin-left: 60px;
    margin-right: 60px;
  }

}

.speaker-bio {
  margin-top: 30px;

  font-size: 14px;
  font-family: 'Monaco', monospace;

  p {
    font-size: 14px;
    font-family: 'Monaco', monospace;
  }
}

.ReactModal__Overlay {
  cursor: pointer;
  background-color: transparentize($navy, 0.1) !important;
}

.ReactModal__Content {
  cursor: initial;
  padding-top: 40px !important;
}
