@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://i.icomoon.io/public/5ba04e2a5e/ScalaItaly2016/style.css);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import '~theme/variables.scss';

// BORDER-BOX

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// PREVENT BOUNCE SCROLLING IN OSX

html, body, {
  height: 100%;
}

.flex-view {
  box-sizing: border-box;
}

.section-name {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  user-select: none;
  font-family: 'Monaco', 'Inconsolata', monospace;
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform:  translateX(-50%) translateY(-50%) rotate(90deg);
  text-transform: uppercase;

  &.left {
    left: 20px;
  }

  &.right {
    right: -110px;
  }

  &.light {
    color: $italianGreen;
  }
}
