@import '~theme/variables.scss';

$base-size: 13px;
$arrow-size: 6px;
$logo-height: 60px;

@mixin top-border-radius($radius: $border-radius) {
  border-radius: $radius $radius 0 0;
}

.login {
  border-radius: $border-radius;
  background-color: $white;
  color: $charcoal;
  &:focus {
    outline: none;
    border: 5px solid red;
  }

  .login-form-logo {
    @include top-border-radius();
    .logo {
      width: 100%;
      font-size: 18px;
      height: $logo-height;
      @include top-border-radius();
    }
  }

  .login-form-wrapper {
    padding: 1.7*$base-size;
    width: 25*$base-size;
    .login-form-input-wrapper {
      position: relative;
      font-size: $base-size;
      width: 100%;
      .label {
        font-weight: $bold;
        color: $silver;
        margin-bottom: .2*$base-size;
      }
      .show-password-button {
        position: absolute;
        font-size: 1.5*$base-size;
        top: 2*$base-size;
        right: .66*$base-size;
        color: $silver;
        cursor: pointer;
        &.colored {
          color: $aquamarine;
        }
      }
      input:focus {
        outline: none;
      }

      .input-text {
        height: 38px;
        color: $charcoal;
        font-weight: $semibold;
        font-size: 14px;
        background-color: $white;
        border: 1px solid $paleGrey;
        border-radius: 2px;
        padding: $base-size;
        margin-bottom: .8*$base-size;
      }
    }

    .login-form-button-wrapper {
      padding-top: 2*$base-size;
      .login-form-button {
        &:hover {
          color: $white;
        }
      }
    }
  }


}
