.speakers {
  background-color: #f7f7f7;
  padding: 60px;
  padding-top: 0;
  padding-bottom: 35px;
  position: relative; }
  .speakers .section-name.right {
    right: -38px; }
  .speakers h3 {
    margin-bottom: 40px; }
  .speakers .speaker {
    margin-bottom: 25px;
    margin-left: 60px;
    margin-right: 60px; }

.speaker-bio, .abstract {
  margin-top: 30px; }

.speaker-bio, .abstract, .title {
  max-width: 500px;
  font-size: 14px;
  font-family: 'Monaco', monospace; }
  .speaker-bio p, .abstract p, .title p {
    font-size: 14px;
    font-family: 'Monaco', monospace; }

.title {
  font-size: 15px;
  font-weight: bold; }

.co-speaker {
  margin-top: 4px;
  font-size: 13px;
  font-family: 'Monaco', monospace; }

.ReactModal__Overlay {
  cursor: pointer;
  background-color: rgba(0, 32, 41, 0.9) !important; }

.ReactModal__Content {
  cursor: initial;
  padding-top: 40px !important; }
  @media (min-width: 1000px) {
    .ReactModal__Content {
      left: 20% !important;
      right: 20% !important; } }
