.cover-page {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  color: #DBDDE2;
  background-image: url("../assets/cover-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .cover-page .logo {
    width: 206px;
    height: 108px;
    background-image: url("../assets/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 206px 108px; }
  .cover-page h1 {
    color: white;
    text-align: center;
    font-size: 33px;
    font-family: 'Montserrat';
    font-weight: normal;
    letter-spacing: 0.9px;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 0; }
    @media only screen and (max-device-height: 700px) {
      .cover-page h1 {
        margin-top: 20px; } }
  .cover-page h3 {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Monaco', 'Inconsolata', monospace;
    line-height: 40px;
    font-size: 22px;
    margin-top: 0; }
  .cover-page .mailchimp-form {
    margin-top: 100px;
    padding: 10px; }
    @media only screen and (max-device-height: 700px) {
      .cover-page .mailchimp-form {
        margin-top: 20px; } }
    .cover-page .mailchimp-form h2 {
      font-size: 24px;
      font-family: 'Montserrat';
      letter-spacing: 0.7px; }
    .cover-page .mailchimp-form h3 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 19px;
      font-family: 'Montserrat';
      color: rgba(255, 255, 255, 0.7); }
    .cover-page .mailchimp-form input[type='text'] {
      font-size: 16px;
      font-family: 'Montserrat';
      font-weight: normal;
      color: #85979a; }
  .cover-page .button .action-button.video-button,
  .cover-page .button .action-button.ticket-button {
    margin-top: 100px;
    width: 251px !important;
    color: #DBDDE2;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    height: 53px;
    border: 3px solid #ff0037;
    background: transparent;
    color: #ff0037;
    text-transform: uppercase;
    cursor: pointer; }
    .cover-page .button .action-button.video-button:hover,
    .cover-page .button .action-button.ticket-button:hover {
      background: #ff0037 !important;
      color: white; }
  .cover-page .arrow {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
    background-size: contain; }
  .cover-page .bounce {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(-10px); } }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-15px); }
  60% {
    -moz-transform: translateY(-10px); } }

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-10px); }
  60% {
    -o-transform: translateY(-10px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-15px); }
  60% {
    transform: translateY(-15px); } }
