.venue {
  background-color: #f7f7f7;
  padding-bottom: 40px; }
  .venue .map {
    height: 400px; }
    .venue .map .gm-style-iw + div {
      display: none; }
  @media (max-width: 960px) {
    .venue .venue-picture {
      display: none; } }
