@import '~theme/variables.scss';

.conference {
  padding: 60px;

  background-color: $navy;
  position: relative;

  .section-name.right {
    right: -90px;
  }

  p {
    color: rgba(133, 151, 154, 0.87);
    font-family: 'Monaco', 'Inconsolata', monospace;
    font-size: 18px;
    line-height: 32.9px;
  }

  .image-wrapper {
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }

  img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
}
